@import 'assets/styles/custom';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.hide-scrollbar {
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; 
}

a {
    text-decoration: none!important;
    color: inherit;
}
  
.container {
    max-width: 100%;
}
  
.row {
    padding: 0 7vw;
}

.subheading {
    font-size: 1em;
}

.heading {
    font-size: 2em;
}

.sidebar-item {
    color: rgb(77, 77, 77) !important;
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
    position: relative;
}

.sidebar-item.inactive:hover {
    background-color: $darker !important;
    color: white !important;
    cursor: pointer;
}

.sidebar-item.active::before {
    content: '';
    position: absolute;
    right: -13px; 
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 11px solid transparent; 
    border-bottom: 11px solid transparent;
    border-left: 15px solid $light; 
}

.sidebar-item.inactive:hover::before {
    border-left-color: $darker; 
}

table {
    font-size: 14px;
    margin: 0;
}

td, th, span {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

td, th {
    border: 1px solid rgb(185, 196, 200);
} 

.table-light tbody tr td, .table-light thead tr th {
    border: 1px solid rgb(175, 175, 175);
} 

.table-success tbody tr td, .table-success thead tr th {
    background-color: $table;
}

.table-light tbody tr td, .table-light thead tr th {
    background-color: white;
}

.selectable {
    color: $selectable;
    text-decoration: underline;
}

.selectable:hover {
    color: $hover;
    cursor: pointer;
}

.selected {
    color: $selected;
    font-weight: bold;
    text-decoration: underline;
}

.clear-filters:hover {
    color: $hover;
    cursor: pointer;
}

.empty-view {
    height: 300px;
}

.arrow-image {
    width: 170px;
    height: 40px;
    top: 31px;
    left: -5px;
}

.select-prompt {
    top: 52px;
    left: 157px;
}

.report-heading {
    font-size: 20px;
    color: $primary;
    padding-top: 8px;
}

.sources-list {
    font-size: 13px!important;
}

.manufacturer-table-source {
    color: $warning;
}

.manufacturer-table-source:hover {
    text-decoration: underline!important;
}

.hover-underline:hover, .hover-pill:hover {
    color: $hover;
    text-decoration: underline;
    cursor: pointer;
}

.text-selected:hover {
    text-decoration: none;
    cursor: default;
}

.text-decoration-none {
    text-decoration: none!important;
}

.read-more {
    color: $warning;
}

.read-more:hover {
    text-decoration: underline!important;
}

.last-updated {
    font-size: 11px;
}

.alphabet-container {
    width: 780px;
    text-align: center; 
}
  
.alphabet-item {
    font-size: 12px;
    background-color: $tertiary;
    color: white;
    border-radius: 0.15em;
    text-align: center;
    box-sizing: border-box;
    width: 24px;
    padding: 2px 0;
}

.alphabet-item:hover {
    color: $dark;
    font-weight: bold;
    cursor: pointer;
}

.alphabet-item.bg-primary:hover {
    color: white;
    font-weight: 400;
}